@import '../../styles/colors.css';

.wrap {
  position: relative;
  max-height: 300px;
  min-width: 150px;
  margin: .5rem 1rem;
  overflow-y: auto;
}

.wrap:hover {
  transform: scale(1.1);
  transition-duration: .3s;
}

.wrap img {
  width: 100%;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--white);
}

.link {
  font-size: .8rem;
  text-decoration: underline;
}
