.wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 5;
}

.carousel {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  backdrop-filter: blur(5px);
  z-index: 6;
  padding: 1rem 1px;
}

.show {
  width: 100%;
  transition-duration: .5s;
}

.hide {
  width: 50px;
  transition-duration: .5s;
  overflow: hidden;
  backdrop-filter: blur(0px);
}

.btn {
  position: sticky;
  left: 0;
  min-width: 50px;
  z-index: 10;
}
